{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Charts</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
</head>
<body>
    <div class="container">
        
        <div class="charts-grid">

            <h2>Sales Chart</h2>
            <!--Gráfico 1-->
            <div class="chart-card">

                <div class="chart-data"
                data-labels='{{ labels|safe }}'
                data-sales='{{ sales|safe }}'>
                </div>

                <canvas id="barSalesChart"></canvas>   
            </div>

            <!--Gráfico 2-->
            <div class="chart-card">
               
                <div class="chart-data"
                data-labels='{{ labels|safe }}'
                data-sales='{{ sales|safe }}'> 
                </div>
            
            <canvas id="doughnutSalesChart"></canvas> 

            </div>
        </div>
    </div>

    <script src="{% static 'js/chart.js' %}"></script>
</body>
</html>