{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Upload Excel File</title>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}"
</head>
<body>
    <div class="main-container">
        <h1>Upload Excel File</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-space">
                <input type="file" class="form-control" name="excel_file" accept=".xlsx,.csv" required>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
</body>
</html>